.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar {
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  width: 87%;
  background-color: lightskyblue;
  border-radius: 14px;
  color: white;
  font-size: 1.8rem;
  letter-spacing: .15rem;
}

.game-board {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box-area {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.number-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  height: 4rem;
  width: 4rem;
  border: .3rem solid black;
  border-radius: 8px;
  background-color: white;
  color: white;
  font-size: larger;
}

.number-box:hover {
  border: .3rem solid orange;
  border-radius: 8px;
}

.number-box-selected {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  height: 4rem;
  width: 4rem;
  border: .3rem solid black;
  border-radius: 8px;
  color: black;
  font-size: larger;
}